local_backend:
  # when using a custom proxy server port
  url: http://192.168.0.37:3000/api/v1
  # when accessing the local site from
backend:
  name: github
  branch: main
  repo: IEA-Paris/PPIAS
  base_url: https://85o05b11ri.execute-api.eu-west-2.amazonaws.com/
  auth_endpoint: '/dev/auth'
  cms_label_prefix: 'IEA-Paris/'
publish_mode: editorial_workflow
media_folder: 'static'
logo_url: https://paris.pias.science/ppias.svg
show_preview_links: false
i18n:
  structure: multiple_folders
  locales: [en, fr]
  default_locale: en
collections:
  - name: 'authors'
    label: 'Authors'
    label_singular: 'Author'
    nested:
      depth: 2
      summary: '{{lastname}} {{firstname}}'
    folder: 'content/authors' # The path to the folder where the documents are stored
    create: true
    slug: '{{lastname}}-{{firstname}}'
    summary: '{{lastname}} {{firstname}}'
    fields:
      [
        {
          label: 'Is institution',
          name: 'is_institution',
          widget: 'boolean',
          default: false,
        },
        {
          label: Firstname,
          name: firstname,
          widget: string,
          default: '',
          hint: leave empty if is_institution is true,
        },
        {
          label: Lastname,
          name: lastname,
          widget: string,
          default: '',
          required: true,
          hint: 'used as the institution name if is_institution is toggled on',
        },
        { label: 'Picture', name: 'picture', widget: 'image', required: false },
        {
          label: 'Picture Copyright',
          name: 'picture_copyright',
          widget: 'string',
          required: false,
        },
        { label: 'Body', name: 'body', widget: 'markdown', required: false },

        {
          widget: 'list',
          default: [],
          label: 'Positions and Institutions',
          name: 'positions_and_institutions',
          summary: '{{fields.position}} {{fields.institution}}',
          hint: 'E.g. Scientific Director (position <em>facultative</em>), PARIS IAS, FRANCE (Institution mandatory)',
          required: false,
          fields:
            [
              {
                label: 'Institution',
                name: 'institution',
                widget: 'string',
                default: '',
              },
              {
                widget: 'list',
                default: [],
                label: Positions,
                name: 'positions',
                summary: '{{fields.institution}}',
                required: false,
                fields:
                  [
                    {
                      label: 'Position',
                      name: 'position',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                  ],
              },
            ],
        },
        {
          widget: 'object',
          default: [],
          collapsed: true,
          label: 'Social channels',
          name: 'social_channels',
          fields:
            [
              {
                label: 'Website',
                name: 'website',
                widget: 'string',
                default: '',
              },
              {
                label: 'Wikipedia',
                name: 'wikipedia',
                widget: 'string',
                default: '',
              },
              {
                label: 'Orcid ID',
                name: 'orcid',
                hint: 'Add only the ORCID ID, not the URL: e.g. <strong>0000-0003-1715-2919</strong>',
                widget: 'string',
                default: '',
              },
              {
                label: 'Linkedin',
                name: 'linkedin',
                widget: 'string',
                default: '',
              },
              {
                label: 'Twitter',
                name: 'webstwitterite',
                widget: 'string',
                default: '',
              },
              {
                label: 'Google scholar',
                name: 'google_scholar',
                widget: 'string',
                default: '',
              },
              {
                label: 'ResearchGate',
                name: 'researchgate',
                widget: 'string',
                default: '',
              },
              {
                label: 'Mendeley',
                name: 'mendeley',
                widget: 'string',
                default: '',
              },
            ],
        },
      ]
  - name: 'articles' # Used in routes, e.g., /admin/collections/blog
    nested:
      depth: 5
      summary: '{{title}}'
    label: 'Articles' # Used in the UI
    folder: 'content/articles' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    sortable_fields: ['date', 'article_title', 'issue'] # The fields on which it should be sortable
    fields: # The fields for each document, usually in front matter
      - {
          label: 'Published',
          name: 'published',
          widget: 'boolean',
          default: false,
        }
      - {
          label: 'Title',
          required: true,
          name: 'article_title',
          widget: 'string',
          pattern:
            ['^[^]{5,200}$', 'Minimum 5 characters, maximum 200 characters'],
        }
      - {
          label: 'Publication Date',
          required: true,
          name: 'date',
          widget: 'datetime',
        }
      - {
          label: 'Does it need a DOI?',
          name: 'needDOI',
          widget: 'boolean',
          default: false,
        }
      - {
          label: 'Authors',
          name: 'authors',
          widget: 'list',
          default: [],
          summary: '{{fields.lastname}} {{fields.firstname}}',
          fields:
            [
              {
                label: 'Is institution',
                name: 'is_institution',
                widget: 'boolean',
              },
              {
                label: Firstname,
                name: firstname,
                widget: string,
                default: '',
              },
              { label: Lastname, name: lastname, widget: string, default: '' },
              {
                label: 'Picture',
                name: 'picture',
                widget: 'image',
                required: false,
              },
              {
                label: 'Picture Copyright',
                name: 'picture_copyright',
                widget: 'image',
                required: false,
              },
              {
                widget: 'list',
                default: [],
                label: 'Positions and Institutions',
                name: 'positions_and_institutions',
                summary: '{{fields.position}} {{fields.institution}}',
                hint: 'E.g. Scientific Director (position <em>facultative</em>), PARIS IAS, FRANCE (Institution mandatory)',
                fields:
                  [
                    {
                      label: 'Institution',
                      name: 'institution',
                      widget: 'string',
                      default: '',
                    },
                    {
                      widget: 'list',
                      default: [],
                      label: Positions,
                      name: 'positions',
                      summary: '{{fields.institution}}',
                      fields:
                        [
                          {
                            label: 'Position',
                            name: 'position',
                            widget: 'string',
                            default: '',
                          },
                        ],
                    },
                  ],
              },
              {
                widget: 'object',
                default: [],
                collapsed: true,
                label: 'Social channels',
                name: 'social_channels',
                summary: '{{fields.label}}: {{fields.value}}',
                fields:
                  [
                    {
                      label: 'Website',
                      name: 'website',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'Wikipedia',
                      name: 'wikipedia',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'Orcid ID',
                      name: 'orcid',
                      hint: 'Add only the ORCID ID, not the URL: e.g. <strong>0000-0003-1715-2919</strong>',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'Linkedin',
                      name: 'linkedin',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'Twitter',
                      name: 'webstwitterite',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'Google scholar',
                      name: 'google_scholar',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'ResearchGate',
                      name: 'researchgate',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                    {
                      label: 'Mendeley',
                      name: 'mendeley',
                      widget: 'string',
                      default: '',
                      required: false,
                    },
                  ],
              },
            ],
        }
      - {
          label: 'Custom PDF',
          name: 'custom_pdf',
          widget: 'file',
          required: false,
          hint: 'If used, the usual PDF will not be generated (and the
            file provided will be used instead)',
        }
      - {
          label: 'Abstract',
          name: 'abstract',
          widget: 'text',
          required: true,
          pattern:
            [
              '^[^]{12,1500}$',
              'Minimum 12 characters and maximum 1500 characters',
            ],
        }
      - {
          label: 'Issue',
          name: 'issue',
          widget: 'file',
          media_folder: '/content/issues',
        }
      - {
          label: 'Picture',
          name: 'picture',
          widget: 'image',
          required: false,

          hint:
            'Picture used as thumbnail and article splash. Not used if a youtube
            ID is provided as thumbnail below.',
        }
      - {
          label: 'Picture Copyright',
          name: 'picture_copyright',
          widget: 'string',
          required: false,
        }
      - {
          label: 'Youtube video',
          name: 'yt',
          widget: 'string',
          required: false,
          hint:
            'Add the ID of the youtube video you want it as a thumbnail &amp; article
            splash. Leave empty if you want a regular thumbnail',
        }
      - {
          label: 'Highlight',
          name: 'highlight',
          widget: 'boolean',
          hint: 'Will try to use the best slots to display highlighted articles',
          default: false,
        }
      - {
          label: 'Bibliography',
          name: 'bibliography',
          media_library:
            { allow_multiple: false, media_folder: '/static/bibliography' },
          widget: 'file',
          required: false,
        }
      - {
          label: 'Language',
          name: 'language',
          widget: 'select',
          default: 'English',
          hint: 'The language of the article content (be it media or text).Fallback on english',
          options:
            [
              English,
              French,
              German,
              Italian,
              Portuguese,
              Dutch,
              Russian,
              Chinese,
              Japanese,
              Greek,
              Spanish,
            ],
        }
      - { label: 'Article', name: 'body', widget: 'markdown' }
  - name: 'issues' # Used in routes, e.g., /admin/collections/blog
    label: 'Issues' # Used in the UI
    folder: 'content/issues' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{name_of_the_issue}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {
          label: 'Name of the issue',
          name: 'name_of_the_issue',
          widget: 'string',
          required: true,
        }
      - {
          label: 'Short name of the issue',
          name: 'title',
          widget: 'string',
          hint: Used in the issues filter and in the article component,
          required: true,
          pattern:
            ['[^]{2,32}$', 'Minimum 2 characters, maximum 32 characters'],
        }
      - { label: 'Subtitle', name: 'subtitle', widget: 'string' }
      - {
          label: 'Publication Date',
          name: 'date',
          widget: 'date',
          format: MM/YY,
          required: true,
        }
      - { label: 'Cover', name: 'cover', widget: 'image' }
      - { label: 'Cover Copyright', name: 'cover_copyright', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'pages' # Used in routes, e.g., /admin/collections/blog
    label: 'Pages' # Used in the UI
    i18n: true
    folder: 'content/pages' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    fields: # The fields for each document, usually in front matter
      - {
          label: 'Page title',
          i18n: true,
          name: 'page_title',
          widget: 'string',
          required: true,
          pattern:
            ['^[^]{2,150}$', 'Minimum 2 characters, maximum 150 characters'],
        }
      - { label: 'Body', i18n: true, name: 'body', widget: 'markdown' }
