// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$fortnightly-font-size: 16;
$fortnightly-heading-font-style: italic;
$fortnightly-primary-color: #6b38fb;
// Preset variables
$body-font-family: 'Open sans', sans-serif;
$border-radius-root: 0;
$btn-font-weight: 700;
$heading-font-family: 'Bodoni Moda', sans-serif;
$headings: (
  'h1': (
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{96 / $fortnightly-font-size}rem,
    'weight': 900,
  ),
  'h2': (
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{60 / $fortnightly-font-size}rem,
    'weight': 300,
  ),
  'h3': (
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{48 / $fortnightly-font-size}rem,
    'weight': 900,
  ),
  'h4': (
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{34 / $fortnightly-font-size}rem,
    'weight': 400,
  ),
  'h5': (
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{24 / $fortnightly-font-size}rem,
    'weight': 400,
  ),
  'h6': (
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{20 / $fortnightly-font-size}rem,
    'weight': 700,
  ),
  'subtitle-1': (
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{16 / $fortnightly-font-size}rem,
    'weight': 500,
  ),
  'subtitle-2': (
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{14 / $fortnightly-font-size}rem,
    'weight': 500,
  ),
  'body-1': (
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{16 / $fortnightly-font-size}rem,
    'weight': 400,
  ),
  'body-2': (
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{14 / $fortnightly-font-size}rem,
    'weight': 400,
  ),
  'caption': (
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{12 / $fortnightly-font-size}rem,
    'weight': 400,
  ),
  'overline': (
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{10 / $fortnightly-font-size}rem,
    'weight': 700,
  ),
);
$icon-outlined-border-width: 2px;
$material-light: (
  'app-bar': #ffffff,
  'background': #ffffff,
  'chips': #ffffff,
);
$stepper-elevation: 0;

.v-card__title {
  word-break: normal;
}
.theme--light .display-4,
.display-2,
.title,
.caption {
  font-style: $fortnightly-heading-font-style;
}
.v-btn.v-btn--contained,
.v-card {
  box-shadow: none;
}
.v-chip.v-chip {
  border-radius: 0;
  border-style: solid;
  border-width: thin;
}
.v-stepper.v-stepper--vertical .v-stepper__content {
  border-left-color: transparent !important;
  margin-bottom: 16px;
  padding-bottom: 0;
}
// FF print fix
@media print {
  .application {
    display: block !important;
  }
  .application--wrap {
    display: block !important;
  }
  .content--wrap {
    display: block !important;
  }
}
@media print {
  body,
  .printpanel {
    overflow: visible !important;
    height: auto !important;
  }
  body {
    margin: 25mm 25mm 25mm 25mm !important;
  }
  @page {
    size: auto; /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 25mm 25mm 25mm 25mm;
  }
}
/* 
.section-title {
  display: inline-block;
  color: #343434;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);

  position: relative;
  z-index: 0;

  &::after {
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 3px;
    background-color: #343434;
    transition: all 250ms;
  }

  &:hover {
    color: white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);

    &::after {
      height: 105%;
      width: 105%;
    }
  }
} */

// nuxt content styles

.nuxt-content h2 {
  font-weight: 500;
  line-height: 2.4rem;
  font-size: 30px;
  padding-bottom: 0.2rem;
  margin-bottom: 0.8em;
  margin-top: 2rem;
}
.nuxt-content h3 {
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 0.8em;
  padding-bottom: 0.1rem;
  font-size: 22px;
}

.nuxt-content p {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
  word-spacing: 2px;
  line-height: 32px;
}

.nuxt-content p code,
.nuxt-content h2 code,
.nuxt-content h3 code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-family: Consolas, Lato Mono, monospace;
}

.nuxt-content ul {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-bottom: 30px;
  word-spacing: 2px;
  line-height: 32px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nuxt-content li {
}
.v-application code {
  all: initial;
  all: unset;
}

.v-application a {
  text-decoration: none;
}

.nuxt-content-highlight {
  font-family: Consolas;
  font-size: 16px;
  position: relative;
  z-index: 1;
  border-radius: 6px;
}

.nuxt-content-highlight > .filename {
  font-family: Lato;
  right: 0;
  top: 0;
  position: absolute;
  margin-right: 0.8rem;
  font-size: 0.8rem;
  color: rgba(203, 213, 224, 1);
  font-weight: 300;
  z-index: 10;
  margin-top: 0.5rem;
}

.nuxt-content pre {
  position: static;
  border-radius: 6px;
  font-family: Consolas;
  font-size: 16px;
  padding: 20px;
}
